VITE_SITE_URL=
VITE_BASE_PATH=/
VITE_PREVIEW=false
VITE_STATIC_PREVIEW=false
VITE_ADMIN_BACKEND=server
SITE_URL=http://localhost:3000
DOMAIN=
DATA_DIR=./data
ADMIN_EMAIL=brdm.05@mail.ru
SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
